body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80 px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28;
}

aside ul {list-style:none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul a{
    color: #fff;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {text-align: left; max-width: 1000px; margin: 20px auto}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.alert-light{
    margin-left: 5%;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}

.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}

.list-pages a {
	color: #e9ecef;
	font-size: 28px;
	text-decoration: none;
}

.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 1px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}

.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}

.list-pages .page-num-selected {
	border: none;
	color: #e9ecef;
	font-size: 28px;
}

.list-pages .page-num-selected:hover {
	box-shadow: none;
}

* {box-sizing: border-box}

.alert-light{

    padding: 1px;

}

body{
    line-height: var(--bs-body-line-low);
}
/* Add padding to containers */
.container {

  padding: 16px;
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

